.topBar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topBar > div,span{
    margin: 0 20px;
}

.logo{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.main{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
